@using IT_Asset.Areas.Admin.Models
@model IEnumerable < Mod_Admin_dashB >

<title>@ViewBag.Title = "Admin_Dashboard";</title>


<div class="container-fluid" style="width:100%;  ">
  
</div>


    <div style=" align-content:center; width:100%" class="panel panel-default " >
        <table class="table-bordered table-hover table-striped shadow p-3 mb-5 bg-white rounded  zui-table-rounded" style="width:150%">
            <thead>
                <tr style="background-color:dodgerblue">
                    <td style="width:80%;">Particulars</td>
                    <td style="width:10%;">Initiate Date</td>                  
                    <td style="width:10%;">Status</td>
                </tr>
               
            </thead>
            @foreach (var Item in Model.List_Proposal) { 
            <tbody>
                <tr>
                    <td style="width:80%;">@Html.TextBoxFor(x=>x.)</td>
                    <td style="width:10%;">Initiate Date</td>
                    <td style="width:10%;">Status</td>

                </tr>
            </tbody>
            }

        </table>
    </div>