
@{
    ViewBag.Title = "AccessDedied";
}

<div style="align-content: center">
    <img src="~/image/Denied.jpg" alt="Girl in a jacket" width="800" height="400"  style="padding-left: 20%; padding-top: 8%;">

</div>
